<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <meta charset="UTF-8">
    <title>댓글 작성 페이지</title>
    <script>

        function saveReply(){
            let comment=$('#comment').val();
            let postId=$('#postId').val();

            console.log(comment,postId);
            let data={"comment":comment,"postId":postId};
            $.ajax({
                type:"POST",
                url:`/api/comment/${postId}`,
                contentType:"application/json",
                data:JSON.stringify(data),
                success:function (response){
                    alert("댓글작성 완료");
                    window.location.href="/";
                }
            })
        }
    </script>
</head>
<body>
    <h1>댓글 작성 페이지</h1>

    <div>
    게시물번호
    <input type="text" id="postId" name="postId" placeholder="postId" class="postId">
    </div>

    <div>
    코멘트
    <input type="text" id="comment" name="comment" placeholder="comment" class="comment">
    </div>

    <div>
    <button id="content-submit" onclick="saveReply()" >작성 완료</button>
    </div>

    <div>
        <button onclick="location.href='/'">메인 페이지 이동</button>
    </div>

</body>
</html>